@keyframes vanish-animation {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.vanished-text {
  animation-name: vanish-animation;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}
